In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
import zipfile

zip_path = "C:/Users/ruchi/Downloads/archive (4).zip"
with zipfile.ZipFile(zip_path, 'r') as z:
    print(z.namelist())
    with z.open("world_air_quality.csv") as file:
        df = pd.read_csv(file, delimiter=";")
        
print(df)

['world_air_quality.csv']
      Country Code                                             City  \
0               JP                                              NaN
1               JP                                              NaN
2               JP                                              NaN
3               JP                                              NaN
4               JP                                              NaN
...            ...                                              ...
54250           IT         MONITORING NETWORK OF REGIONE BASILICATA
54251           IT          RETE REGIONALE QUALITA' ARIA DEL VENETO
54252           IT  RETE REGIONALE QUALITA' DELL'ARIA DELLA TOSCANA
54253           IT  RETE REGIONALE QUALITA' DELL'ARIA DELLA TOSCANA
54254           IT  RETE REGIONALE QUALITA' DELL'ARIA DELLA TOSCANA

                Location                            Coordinates Pollutant  \
0      北九州市小倉北区大門一丁目６－４８                  33.880833, 130.873056        NO
1       北九州市若松区本町三丁目１３－１                      33.898056, 130.81       NO2
2       北九州市門司区大里原町１２－１２                  33.895833, 130.935833       NOX
3              千歳市若草４－１３                     42.786944, 141.605       NO2
4        千葉市稲毛区宮野木町９９６－９                  35.653889, 140.097778       NOX
...                  ...                                    ...       ...
54250         NET.IT133A  40.64389299999999, 15.872893000000001        CO
54251         NET.IT281A                   46.030833, 11.905833        O3
54252         NET.IT279A                     43.55472, 10.32972        CO
54253         NET.IT279A           43.91611, 11.006939999999998     PM2.5
54254         NET.IT279A           43.91611, 11.006939999999998        O3

          Source Name   Unit    Value               Last Updated Country Label
0      japan-soramame    ppm    0.002  2024-03-10T13:30:00+05:30         Japan
1      japan-soramame    ppm    0.005  2024-03-10T13:30:00+05:30         Japan
2      japan-soramame    ppm    0.013  2024-03-10T13:30:00+05:30         Japan
3      japan-soramame    ppm    0.004  2024-03-10T13:30:00+05:30         Japan
4      japan-soramame    ppm    0.003  2024-03-10T13:30:00+05:30         Japan
...               ...    ...      ...                        ...           ...
54250       EEA Italy  µg/m³  295.000  2024-03-11T15:30:00+05:30         Italy
54251       EEA Italy  µg/m³   35.000  2024-03-11T15:30:00+05:30         Italy
54252       EEA Italy  µg/m³  600.000  2024-03-11T15:30:00+05:30         Italy
54253       EEA Italy  µg/m³   15.000  2024-03-11T04:30:00+05:30         Italy
54254       EEA Italy  µg/m³   30.000  2024-03-11T15:30:00+05:30         Italy

[54255 rows x 10 columns]

In [2]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54255 entries, 0 to 54254
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Country Code   54255 non-null  object
 1   City           30209 non-null  object
 2   Location       54253 non-null  object
 3   Coordinates    54185 non-null  object
 4   Pollutant      54255 non-null  object
 5   Source Name    54255 non-null  object
 6   Unit           54255 non-null  object
 7   Value          54255 non-null  float64
 8   Last Updated   54255 non-null  object
 9   Country Label  54140 non-null  object
dtypes: float64(1), object(9)
memory usage: 4.1+ MB
None

In [3]:
print("Null value is:", df.fillna(0).isnull().sum())
print("Duplicate value is:", df.duplicated().sum())
print("Descibe data:", df.describe())
print("Information about data:", df.info())

Null value is: Country Code     0
City             0
Location         0
Coordinates      0
Pollutant        0
Source Name      0
Unit             0
Value            0
Last Updated     0
Country Label    0
dtype: int64
Duplicate value is: 0
Descibe data:               Value
count  5.425500e+04
mean   6.290627e+02
std    2.927522e+04
min   -4.905140e+04
25%    2.125930e-01
50%    9.200000e+00
75%    3.253500e+01
max    3.198676e+06
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54255 entries, 0 to 54254
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Country Code   54255 non-null  object
 1   City           30209 non-null  object
 2   Location       54253 non-null  object
 3   Coordinates    54185 non-null  object
 4   Pollutant      54255 non-null  object
 5   Source Name    54255 non-null  object
 6   Unit           54255 non-null  object
 7   Value          54255 non-null  float64
 8   Last Updated   54255 non-null  object
 9   Country Label  54140 non-null  object
dtypes: float64(1), object(9)
memory usage: 4.1+ MB
Information about data: None

In [4]:
print(df.select_dtypes(include = 'object').columns)
print(df.select_dtypes(include = 'float64').columns)

Index(['Country Code', 'City', 'Location', 'Coordinates', 'Pollutant',
       'Source Name', 'Unit', 'Last Updated', 'Country Label'],
      dtype='object')
Index(['Value'], dtype='object')

In [5]:
Q1 = df['Value'].quantile(0.25)
Q3 = df['Value'].quantile(0.75)

IQR = Q3 - Q1

df_cleaned = df[~((df['Value'] < (Q1 - 1.5*IQR)) | (df['Value'] > (Q3 + 1.5 * IQR)))]

In [6]:
df_cleaned['Value'] = df_cleaned['Value'].apply(lambda x: 0 if x < 0 else x)

C:\Users\ruchi\AppData\Local\Temp\ipykernel_14180\1223373118.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Value'] = df_cleaned['Value'].apply(lambda x: 0 if x < 0 else x)

In [7]:
Q1 = df['Value'].quantile(0.01)
Q3 = df['Value'].quantile(0.99)
df = df[(df['Value'] >= Q1) & (df['Value'] <= Q3)]

In [8]:
df['Value'] = df['Value'].apply(lambda x: 0 if x < 0 else x)

In [9]:
from scipy import stats
df['z_score'] = stats.zscore(df['Value'])

In [10]:
df = df[(df['z_score'] >= -3) & (df['z_score'] <=3)]

In [11]:
import numpy as np
df['Log_Value'] = np.log1p(df['Value'])

In [12]:
print(df.describe())

              Value       z_score     Log_Value
count  51284.000000  51284.000000  51284.000000
mean      28.543882     -0.169439      2.129299
std       58.822118      0.429876      1.645478
min        0.000000     -0.378039      0.000000
25%        0.200000     -0.376578      0.182322
50%        8.535058     -0.315665      2.254975
75%       27.243250     -0.178944      3.340854
max      462.000000      2.998290      6.137727

In [ ]:
from deep_translator import GoogleTranslator
import time

df['City'] = df['City'].fillna('')
translation_cache = {}

def translated_city(city_name):
    if city_name in translation_cache:
        return translation_cache[city_name]
    
    try:
        translated = GoogleTranslator(source='auto', target='en').translate(city_name)
        translation_cache[city_name] = translated
        return translated
    except Exception as e:
        print(f"Error translating {city_name}: {e}")
        time.sleep(1)  # Adding a short delay
        return city_name

# Applying translation to the column
df['city_tranlated'] = df['City'].apply(translated_city)